<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="div-header">
            <div class="top-bar-imgagen">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLIebre">
            </div>
            <div class="barra-de-busqueda">
                <form action="/" method="post" >
                    <input type="text" name="buscar" placeholder="Buscar productos, marcas y más.">
                </form>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div> 
            <p class="compra"><i class="fas fa-user-alt">Compra en cuotas y sin tarjeta de crédito</i></p>

        </div>

        <nav>
            <ul class="tienda-list">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#"> Tiendas Oficiales</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
            </ul>

            <ul class="links-list">
                <li><a href="/register"> Crea Tu Cuenta</a><i class="fas fa-credit-card"></i></li>
                <li><a href="/login"> Ingresa</a><i class="fas fa-sign-in-alt"></i></i></li>
                <li><a href="#"> Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                
            </ul>


        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de Ofertas">
    </section>
    <main>
        <section class="last-visit">
            <h3 class="titulares">Basado en tu última visita</h3>            
            <div class="products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="producto-main">
                    
                        <i class="fas fa-truck"></i>
                        
                        <p class="precios">$6.700</p> 
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article> 
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="producto-main">
                        <div class="circuletruck">
                        <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$230.000</p>  
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article> 
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="producto-main">
                        <div class="circuletruck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$70.500</p> 
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones">Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="producto-main">
                        <div class="circuletruck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$23.200</p> 
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripciones">Samsung 43"</h4>
                    </div>
                </article>
        </section>
        <section>
            <h3 class="titulares">Sección Ofertas</h3>
            <div class="products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="producto-main"> 
                        <div class="circuletruck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$6.700</p> 
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4> 
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="producto-main">
                        <div class="circuletruck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$230.000</p> 
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="producto-main">
                        <div class="circuletruck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$70.500</p> 
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones">Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="producto-main">
                        <div class="circuletruck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$23.200</p> 
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripciones">Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</span>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</span>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</span>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>

    </footer>
    
</body>
</html>